


#Env
NODE_ENV = complete with nodejs environment

#Port
PORT = complete with port

#Log
LOG_LEVEL =  complete with the level logger

#Mapbox
MAPBOX_API_KEY = complete with the Mapbox apikey

#Open Weather Mapbox
OPENWEATHERMAP_API_KEY = complete with the open weather map api key




